html,
body {
    margin: 0;
    overflow-y: scroll;
}

/* Remove scrollbar */
html::-webkit-scrollbar,
html::-webkit-scrollbar-track {
    visibility: hidden;
    opacity: 0;
    width: 0;
}

/* Main Container */
.yours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url(https://coastal-music.s3.us-west-1.amazonaws.com/Coastal-band-photo.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}

/* White div for Fade to White */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* Button Styling */
.yours .mine {
    opacity: 0;
    background-color: lightblue;
    padding: 22px 64px;
    border: none;
    /* border: 1px solid black; */
    border-radius: 32px;
    cursor: pointer;
    z-index: 10;
}
.yours .mine:hover {
    background-color: rgb(61, 108, 161);
    color: lightblue;
}
.yours .mine:active {
    padding: 18px 56px;
    background-color: rgb(61, 108, 161);
    color: lightblue;
}

/* Video Styling */
.video {
    position: fixed;
    top: 20%;
    border-radius: 10px;
    width: 80%;
    height: auto;
    z-index: 20;
}

/* Mobile Styling */
@media (max-width: 768px) {
    .yours,
    .overlay {
        height: 1200px;
    }
    .video {
        width: 95%;
    }
}

@media (min-width: 768px) and (max-width: 1920px) {
    .yours,
    .overlay {
        height: 1500px;
    }
    .video {
        top: 10%;
    }
}

/* Ultrawide Styling */
@media (min-width: 1920px) {
    .yours,
    .overlay {
        height: 2000px;
    }
    .video {
        border-radius: 20px;
        top: 5%;
        height: 90%;
        width: auto;
    }
}
